body {
	background-color: #f2f2f2;
	min-width: 1080px;
}
html {
	background-color: #f2f2f2;
}
.head {
	background: #333 none repeat scroll 0 0;
	position: relative;
}
.banner-background img {
	width: 100%;
	height: 100%;
	opacity: 1;
	position: absolute;
	background-repeat: no-repeat;
}
.banner {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	height: 500px;
}
.title {
	margin: 0 auto;
	/*height: 54px;*/
	
	position: relative;
}

.title .demo5 {
	left: 50%;
	margin-left: -240px;
	position: absolute;
	top: 120px;
	perspective: 1000px;
}
/*顶部标题*/

.demo5 {} .demo5 b {
	background: rgba(0, 0, 0, 0.3);
	font-size: 60px;
	color: #fff;
	padding: 0 10px;
	transform: rotateX(20deg);
	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	display: inline-block;
	transition: 200ms;
	text-align: center;
	width: 80px;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}
.demo5 b:nth-child(2n+1) {
	transform: rotateX(-20deg);
	-webkit-transform: rotateX(-20deg);
	-moz-transform: rotateX(-20deg);
	transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.demo5 b:hover {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}
/*菜单*/

#container {
	background-color: #f2f2f2;
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
nav {
	left: 50%;
	margin: 0 auto;
	margin-left: -540px;
	padding: 25px 0;
	position: relative;
	width: 100%;
	min-width: 1080px;
}
nav ul {
	position: realtive;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
nav ul li {
	display: block;
	float: left;
	width: 270px;
}
nav ul li a {
	position: relative;
	height: 40px;
	margin: 25px;
	display: inline-block;
	font-size: 35pt;
	color: #7d7d7d;
	font-weight: 900;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li a:before,
nav ul li a:after {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
	color: #cd5555;
}
nav:nth-child(1) {
	/*background: #FA8072;*/
}
nav:nth-child(1) a:before,
nav:nth-child(1) a:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition-property: opacity, visibility, -webkit-transform;
	transition-property: opacity, visibility, transform;
}
nav:nth-child(1) a:before {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
nav:nth-child(1) a:after {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
nav:nth-child(1) a:hover:before,
nav:nth-child(1) a:hover:after {
	opacity: 1;
	visibility: visible;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
/*个人中心*/

.personal {
	display: block;
	float: left;
	width: 100%;
	background-color: #f2f2f2;
}
.personal-center {
	display: block;
	margin: 0 auto;
	width: 1210px;
}
.personal-center-left {
	display: block;
	float: left;
	width: 905px;
	margin-right: 10px;
}
.new-one {
	display: block;
	float: left;
	width: 295px;
	height: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.new-two {
	display: block;
	float: left;
	width: 295px;
	height: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.new-three {
	display: block;
	float: left;
	width: 295px;
	height: 400px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.new-four {
	display: block;
	float: left;
	width: 600px;
	height: 400px;
	margin-right: 10px;
}
.new-five {
	display: block;
	float: left;
	width: 295px;
	height: 400px;
	position: relative;
}
.personal-center-right {
	display: block;
	float: right;
	width: 295px;
}
.new-six {
	display: block;
	float: left;
	width: 295px;
	height: 810px;
	background-color: #fff;
	overflow: hidden;
}
.newone-content {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 295px;
	height: 400px;
}
.newone-content .art-a {
	color: #ffffff;
	display: block;
	float: left;
	font-size: 16px;
	left: 130px;
	position: absolute;
	top: 50px;
}
.newone-content a span {
	color: #ffffff;
	display: block;
	float: left;
	font-size: 24px;
	left: 30px;
	position: absolute;
	top: 100px;
	width: 240px;
}
.newone-content a label {
	color: #616161;
	display: block;
	float: left;
	font-size: 14px;
	left: 45px;
	position: absolute;
	top: 220px;
	width: 194px;
}
.newone-content img {
	left: 0;
	opacity: 0.4;
	position: absolute;
	top: 0;
}
.newtwo-content {
	position: absolute;
	bottom: -200px;
	display: block;
	width: 295px;
	height: 200px;
	background-color: #fff;
}

.newtwo-content a span {
	position: absolute;
	top: 44px;
	width: 200px;
	left: 32px;
	color: #333333;
	font-weight: 700;
	font-size: 16px;
}
.newtwo-content a label {
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	left: 32px;
	position: absolute;
	top: 114px;
	width: 234px;
}
.newtwo-content  .art-b b {
	color: #007fff;
	font-size: 14px;
	font-weight: 600;
	left: 32px;
	position: absolute;
	top: 13px;
	width: 50px;
}
.newthree-content {
	position: absolute;
	bottom: -100px;
	display: block;
	width: 295px;
	height: 100px;
	background-color: #fff;
}
.newthree-content span {
	position: absolute;
	top: 24px;
	width: 240px;
	left: 32px;
	color: #333333;
	font-weight: 700;
	font-size: 16px;
	font-family: "楷体";
}
.newthree-content b {
	color: #ffb400;
	font-size: 14px;
	font-weight: 600;
	left: 32px;
	position: absolute;
	top: 3px;
	width: 50px;
}
/*轮播*/
.new-four #myCarousel .carousel-control.right,
.new-four #myCarousel .carousel-control.left{
	background-image:none;
}
.new-four #myCarousel .carousel-control{
	top: 40%;
	font-size: 40px;
}
.new-five span {
	color: #fff;
	display: block;
	font-size: 18px;
	left: 100px;
	position: absolute;
	top: 26px;
}
.new-five .head-portrait {
	position: absolute;
	display: block;
	top: 72px;
	width: 295px;
	height: 200px;
	left: 0;
}
.new-five label {
	color: #fff;
	display: block;
	font-size: 16px;
	left: 40px;
	position: absolute;
	top: 288px;
	width: 225px;
	font-weight: normal;
	font-family:"楷体";
}
.siximg-img {
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}
.siximg-logo {
	display: block;
	float: left;
	margin-top: 10px;
}
.new-six span {
	color: #333333;
	display: block;
	float: left;
	font-weight: 600;
	margin-left: 6px;
	margin-top: 6px;
}
.new-six a {
	color: #333333;
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 17px;
	width: 244px;
}
.new-six label {
	border-bottom: 1px solid #dddddd;
	color: #aaaaaa;
	display: block;
	float: left;
	font-size: 14px;
	height: 40px;
	margin-left: 30px;
	margin-top: 10px;
	width: 244px;
}
/*最后总结*/

.tok {
	display: block;
	background-color: #f2f2f2;
	width: 100%;
	float: left;
}
.tok img {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}
.tog-pg {
	display: block;
	float: left;
	text-align: left;
	width: 100%;
	margin-top: 20px;
}
.tog-pg h4 {
	color: #333333;
	font-family: "Playfair Display", serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin: 0 auto;
	width: 750px;
}
.tog-pg h3 {
	color: #333333;
	font-size: 16px;
	font-weight: 750;
	margin: 15px auto;
	width: 750px;
}
/*底部*/

.footer-col {
	background-color: #36363d;
	border-top: 5px solid #00a3cf;
	color: #aaa;
	display: block;
	float: left;
	margin-top: 30px;
	width: 100%;
	padding: 25px 0;
}
.footer-col-content {
	width: 1080px;
	margin: 0 auto;
}
.footer-col-content a {
	display: block;
	width: 100%;
}
.footer-col-content img {
	display: block;
	margin: 0 auto 15px;
	border-radius: 75px;
	position: relative;
	text-indent: -999px;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}
.footer-col-content img:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.footer-col-left,
.footer-col-right,
.footer-col-middle,
.footer-col-add {
	display: block;
	float: left;
	width: 258.75px;
}
.footer-col-middle {
	margin: 0 15px;
}
.footer-col-add {
	margin-right: 15px;
}